* {
	box-sizing: border-box;
}

strong {
	font-weight:bold;}

a:visited {
	color: blue;
}

a:hover {
	text-decoration: underline;	
}

a {
	text-decoration: none;
}

html, body {
	margin: 0;
	width: 100%;
}

.top-container {
	width: 68%;
	margin: 40px auto;
}

h3 {
	font-family: "Myriad Set Pro", sans-serif;
	font-size: 22px;
	line-height: 26px;
	margin: 0;
}

h6 {
	font-family: "Myriad Set Pro", sans-serif;
	font-size: 15px;
	line-height: 16px;
	margin: 0;
}

.welcome {
	width: auto;
	float: right;
}

.logo-container {
	margin: 75px auto 0;
	width: 77%;
	height: auto;
	text-align: center;
}

.row {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.logo {
	width: 24%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
}

img {
	width: 48%;
	height: auto;
}

#line {
	border-bottom: 1px solid #AAAAAA;
	padding-bottom: 20px;
	margin-bottom: 20px;

}

.bottom {
	margin: 0px auto;
	width: 77%;
	height: auto;
	/*border: 1px solid green;*/
	text-align: center;	
}

@media (max-width: 1200px){
	.row {
		margin-bottom: 60px;
	}
	img {
		width: 60%;
	}
}

@media (max-width: 800px){
	.row {
		margin-bottom: 30px;
	}
	img {
		width: 80%;
	}
}





























